<footer>
  <small>
    Constuit avec <a href="https://www.netlifycms.org/">Netlify CMS</a> et <a href="https://www.11ty.io/">11ty</a>!
  </small>
  <small>
    Basé sur <a href="https://github.com/danurbanowicz/eleventy-netlify-boilerplate">ce boilerplate</a>.
  </small>
</footer>
