{#
<section>
	{% set tagList = [] %}
	{% for post in postslist %}
		{% if post.data.tags %}
			{% tagList.push(tag) %}
			{% for tag in post.data.tags %}
				{%- if tag != "post" -%}
					{% set tagUrl %}/tags/{{ tag }}/{% endset %}
					<a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
				{%- endif -%}
			{% endfor %}
		{% endif %}
	{% endfor %}
	{{ tagList }}
</section>
#}

cc
