---
layout: layouts/base.njk
section: post
---
{% for tag in tags %}
  {%- if tag == "rando" -%}    
    {% set css %}
      {% include "assets/css/inline-rando.css" %}
    {% endset %}
    <style>{{ css | cssmin | safe }}</style>
  {%- endif -%}
{% endfor %}

<article>
  <h1>{{ title }}</h1>
  <p>
    <small>
      <time datetime="{{ date | machineDate }}">{{ date | readableDate }}</time> by {{ metadata.author.name }}
    </small>
  </p>

  {% if summary %}
    <p>
      {{ summary }}
    </p>
  {% endif %}

  {{ layoutContent | safe }}

  {% if tags %}
    <p>
    {% for tag in tags %}
      {%- if tag != "post" -%}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
      {%- endif -%}
    {% endfor %}
    </p>
  {% endif %}

</article>

{% include "components/back-to-home.njk" %}
